@font-face {
	font-family: SF Compact Display;
	src: url(../fonts/SF-Compact-Display-Bold.otf);
}

@font-face {
	font-family: Uni neue;
	src: url(../fonts/UniNeueBold.ttf);
}

* { 
	margin: 0; padding: 0; 
}

html, body {
	height: 100%;
}

p { 
	margin: 5px 0 10px 0; 	
}

a {
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 26px;
	line-height: 30px;
}

h3 {
	font-size: 18px;
	line-height: 21px;
	color: #fff;
}

h4 {
	font-size: 14px;
	line-height: 16px;
	color: #D5D5D5;
}

h5 {
	font-size: 12px;
	line-height: 14px;
	color: #D5D5D5;
}

p, h1, h2, h3, h4, h5, span, a {
	font-family: SF Compact Display;
}

.gmnoprint {
	display:none !important;
} 

iframe + div {
	display: none !important;
}

.page-wrapper {
	width: 100%;
}

.activity {
	min-width: 320px;
	max-width: 812px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	background-color: #000000;

}

.activity__mark {
	position: absolute;
	display: flex;
	align-items: center;
	top: 42px;
	left: 24px;
	z-index: 2;
}

.activity__mark img {
	width: 13px;
	height: 15px;
	margin-right: 11px;
	opacity: 0;
}


.activity__info {
	position: absolute;
	left: 24px;
	bottom: 60px;
	z-index: 2;
}

.activity__info div {
	display: flex;
	align-items: flex-end;
	height: 150px;
	margin-bottom: 17px;
}
.activity__info h1 {
	color: #fff;
	font-family: 'Uni neue';
	font-size: 60px;
	line-height: 50px;
}

.activity__info a {
	color: #FF781C;
}

.activity__slider {
	display: flex;
	padding-top: 32px;
	margin-left: 72px;
	background-color: #000000;
}


.activity__slider-item {
	margin-right: 10px;
}

.activity__slider-item img {
	width: 224px;
	height: 368px;
	border-radius: 8px;
	opacity: 0.6;
}
.feed {
	min-width: 320px;
	max-width: 812px;
	margin: 0 auto;
	background-color: #151515;
}

.feed, .map__events-list {
	overflow: hidden;
	width: 100%;
}

.feed__title {
	display: flex;
	color: #fff;	
}

.feed__title h2 {
	margin: 39px auto 25px 23px;
}

.feed__item-container {
	display: flex;
	width: calc(100% + 128px);
	background-color: #151515;
}

.feed__item-container:nth-child(1) {
	border-bottom: 1px solid #2A2A2A;
}
.feed__item-container:last-child .feed__item {
	border-bottom: none;
}

.feed__item-container:last-child {
	margin-bottom: 48px;
}

.feed__item {
	display: flex;
	flex: 1;
	position: relative;
	transform: translateX(-128px);
	transition: transform 0.3s ease-in;
	border-bottom: 1px solid #2A2A2A;
}

.artwork {
	position: absolute;
	opacity: 0.4;
	border-radius: 8px;
}

.bookmarked {
	position: absolute;
	display: none;
	width: 9px;
	height: 10px;
}

.bookmarked.active {
	display: block;
}

.feed__music-item {
	padding: 22px 11px 21px 12px;
}

.feed__music-item .artwork {
	top: 22px;
	left: 12px;
	width: 80px;
	height: 80px;
}

.feed__music-item .bookmarked {
	top: 22px;
	right: 12px;
}

.feed__music-item-info {
	margin: 23px auto 19px 60px;
	z-index: 2;
}

.feed__music-item h3 {
	margin-bottom: 4px;
}

.feed__video-item {
    padding: 24px 12px 17px 12px;
}

.feed__video-item .artwork {
	top: 24px;
	left: 12px;
	width: 188px;
	height: 120px;
}

.feed__video-item .bookmarked {
	top: 24px;
	right: 12px;
}

.feed__video-item-info {
	margin: 93px auto auto 59px;
	z-index: 2;
}

.feed__video-item-info h3 {
	margin-bottom: 8px;
}

.feed__video-item-info h4 {
	font-size: 14px;
	line-height: 16px;
}

.feed__event-item {
	height: 216px;
}

.feed__event-item .artwork {
	top: 24px;
	left: 23px;
	width: 124px;
	height: 168px;
}

.feed__event-item .artwork.map-art {
	left: 12px;
}

.feed__event-item .bookmarked {
	top: 24px;
	right: 12px;
}

.feed__event-item-info {
	z-index: 2;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 41px;
    margin-bottom: 44px;
    margin-left: 72px;
}

.feed__event-item-info h3 {
	font-size: 22px;
    line-height: 26px;
    margin-bottom: 48px;
}

.feed__bookmark-container {
	width: 128px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(340.38deg, #505050 35.07%, #333333 108.54%);
	transform: translateX(-128px);
	transition: transform 0.3s ease-in;
}

.feed__bookmark-container.active {
	background: linear-gradient(26.66deg, #FF971C 20.96%, #FF6600 104.08%);
}


.feed + .navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.navigation {
	min-width: 320px;
	max-width: 812px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	height: 48px;
	padding: 13px 28px 11px;
	box-sizing: border-box;
}

.navigation__item {
	display: flex;
}

.navigation__item a {
	display: none;
}

.navigation__item--events img {
	margin-bottom: 6px;
}

.navigation__item a.current {
	display: block;
}

.map__page-container {
	position: relative;
	min-width: 320px;
	max-width: 812px;
	width: 100%;
	margin: 0 auto;
}
.map__container	{
	position: relative;
	width: 100%;
	min-height: 534px;
}

.map {
	width: 100%;
	min-height: 534px;
}

.map__navigation {
	position: absolute;
    bottom: 24px;
    display: flex;
    width: calc(100% - 44px);
    justify-content: space-between;
    margin: 0 22px;
}

.map__events-list {
	min-width: 320px;
	max-width: 812px;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	opacity: 0;
	transition: transform 0.5s ease-in;
}

.map__events-list .feed__item-container:last-child {
	margin-bottom: 0;
}

.map__events-button, .map__markers {
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
	width: 42px;
	height: 42px;
}

.map__events-button {
	position: relative;
	background-image: url('../img/map/events.svg');
}

.map__events-button:after {
	content: url('../img/map/data.svg');
	position: absolute;
	top: -3px;
	left: 25px;
}

.map__markers {
	background-image: url('../img/map/marker_button.svg');
}

.map__events-header {
	background-color: transparent;
	padding: 40px 24px 8px;
}

.map__events-hider {
	margin: 0 auto;
	width: 32px;
	height: 3px;
	background: #FF781C;
	border-radius: 5px;
}

.map__events-title {
	margin-bottom: 22px;
}

.map__events-title h2 {
	line-height: 31px;
	color: #fff;
	margin-bottom: 11px;
}

.map__events-title h4 {
	line-height: 17px;
	color: #D5D5D5;
}

.map__events-list .feed__event-item .artwork {
	left: 12px;
}